<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Recurring Deposit Tracker</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      
    </script>
    
  </head>
  <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/dashboard">Dash</a></li>
            <li role="presentation"><a href="/reciept">Reciept</a></li>
            <li role="presentation"><a href="/reports">Reports</a></li>
            <li role="presentation"><a href="/settings">Settings</a></li>
            <li role="presentation"><a href="/logout">logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Recurring Deposit Tracker<small><span class="badge">beta</span></small></h3>
      </div>
      <div class="row marketing" id="home">
        <div class="col-lg-6">
          <div class="jumbotron" style="background-color:white">
            <h1 id="result">RDT 1.0 Lauch</h1>
            <p class="lead">Recurring Deposite Tracker (RDT) application will be launched soon. Final alpha testing is on going. Beta will be available shortly. Please see the tracket on below.</p>
          </div>            
        </div>
        <div class="col-lg-6">
          <form action="/createAccount" method="POST">
            <h4>Open New Account <small>(Registration)</small></h4><hr/>
            <h5>Mobile Number</h5>
            <input type ="text" name="mobilenumber" id="mobilenumber" class="form-control" placeholder="+91 999123456" />
            <p>Mobile number should be unique accross the users. Duplication on mobile number is not allowed.</p>
            <h5>Name</h5>
            <input type ="text" name="name" id="name" class="form-control" placeholder="Mr./Mrs. Perfect" />
            <p>Name shoudl be certificate name of the user. Which can be used for offical purpose.</p>
            <h5>Nickname</h5>
            <input type ="text" name="nickname" id="nickname" class="form-control" placeholder="Nicky" />
            <p>Nickname is the name, where this personal should be famously known as this name amoung his groups.</p>
            <h5>Address</h5>
            <input type ="text" name="address" id="address" class="form-control" placeholder="Home, Street, City, ZIP Code" />
            <p>Communication address of the personal, which help you to reachout for any notification fastly.</p>
            <h5>Aadhar No</h5>
            <input type ="text" name="aadhar" id="aadhar" class="form-control" placeholder="9564 2955 1935" />
            <p>UIAD generated by Govt. India. Its a unique 12 digit number, which will help us to track the full details and can be used for legal and offical purpose.</p>
            <h5>Date of Birth</h5>
            <input type ="date" name="dateofbirth" id="dateofbirth" class="form-control" placeholder="Happy Birthday" />
            <p>Date of birth of the personal in officail certificates</p>
            <h5>Bloodgroup</h5>
            <input type ="text" name="bloodgroup" id="bloodgroup" class="form-control" placeholder="O+ve, AB+ve ..." />
            <p>Blood Group of the member, which will help in case of any blood donation campian.</p>
            <h5>Email ID</h5>
            <input type ="email" name="emailid" id="emailid" class="form-control" placeholder="myuserid@domain.com" />
            <p>Email ID can be used to update the notification from customer instently to the members.</p>
            <input type ="submit" value="Create Account" class="form-control"/>  
            <p>Once the account is created user will get notified through SMS/Email if its configured.</p>
          </form>
        </div>
      </div>

      <footer class="footer">
        <div class="container">
          <p class="text-muted">Developed and Maintained by <a href="http://addin.in">addin.in</a> | Contact : mail@addin.in </p>
        </div>
      </footer>
    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
